<a href="https://colab.research.google.com/github/SreelakshmiASree/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Qn 2

In [ ]:
Name ="Sreelakshmi A"
Address="Kuthuparamba kannur"
Telephone_no="04902361013"
print("Name:"+Name+"\n","Address:"+Address+"\n","Telephone_no:"+Telephone_no)

Name:Sreelakshmi A
 Address:Kuthuparamba kannur
 Telephone_no:04902361013

Qn 3

In [ ]:
print("Your name is",Name)
Name="Sreelakshmi A"

Your name is Sreelakshmi A

Question 4

In [10]:
#area of the rectangle
Width=float (input("Enter the width:"))
Height=float(input("Enter the height:"))
area=Width+Height
print("the area is",area,"Square units")

Enter the width:3.5
Enter the height:2.5
the area is 6.0 Square units

Question 5

In [15]:
#area of the triangle
Base=float(input("Enter the baselength:"))
Height=float(input("Enter the height:"))
area= .5*Base*Height
print("the area is",area,"Square units")

Enter the baselength:2.4
Enter the height:5
the area is 6.0 Square units

Question 6

In [30]:
#area of the circle
radius=float(input("Enter the radius:"))
area= 3.14*radius**2
print("The area is",area, "Square units")

Enter the radius:5
The area is 78.5 Square units

Question 7

In [24]:
Name=input("Enter your name:")
Age=input("Enter your age:")
print("My name is "+Name+"and my age is"+Age)

Enter your name:Sreelakshmi A
Enter your age:19
My name is Sreelakshmi Aand my age is19

Question 8

In [25]:
a=int(input ("Enter a number:"))
a=a+1
print(a)

Enter a number:6
7

 Question 9

In [27]:
Name=input("Enter your first name:")
print(Name)

Enter your first name:Sreelakshmi
Sreelakshmi